.Whole
{
    display: flex;
    justify-content: space-around;
}

.container
{
    width: 35vw;
}

.top_text
{
    font-size: 20px;
    color: #505050;
    margin-top: 50px;
    width: max-content;
    margin-left: 9.5%;
}

.info
{
    margin-top: 50px;
    font-size: 18px;
    font-weight: bold;
}

.shipping
{
    margin-top: 50px;
    font-size: 18px;
    font-weight: bold;
}

.email
{
    font-size: 12px;
    margin-top: 20px;
    color: #505050;
    font-weight: bold;
}

.phone
{
    font-size: 12px;
    margin-top: 20px;
    color: #505050;
}

.input_text
{
    margin-top: 6px;
}

.name
{
    font-size: 12px;
    margin-top: 20px;
    color: #505050;
    font-weight: bold;
}

.address
{
    font-size: 12px;
    margin-top: 20px;
    color: #505050;
    font-weight: bold;
}

.city
{
    font-size: 12px;
    margin-top: 20px;
    color: #505050;
    font-weight: bold;
}

.country
{
    font-size: 12px;
    width: 45%;
    margin-top: 10px;
    color: #505050;
    font-weight: bold;
}

.code
{
    font-size: 12px;
    width: 45%;
    margin-top: 10px;
    color: #505050;
    font-weight: bold;
}

.duo
{
    width: 100%;
    margin-top: 15px;
    color: #505050;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.save
{
    margin-top: 30px;
    font-size: 13px;
    display: flex;
}

.save_text
{
    margin-top: 10px;
    margin-left: 10px;
}

:-ms-input-placeholder
{
    color: #8b8b8b;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

::-ms-input-placeholder
{
    color: #8b8b8b;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

::placeholder
{
    color: #8b8b8b;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

input
{
    padding-left: 50px;
    font-weight: 600;
    font-size: 13px;
    color: #000000;
}

.Email
{
    background-image: url("email-removebg-preview.png");
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: 1%;
}

.Phone
{
    background-image: url("phone.png");
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 3%;
}

.Name
{
    background-image: url("person-removebg-preview.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 3%;
}

.Address
{
    background-image: url("home.png");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 3%;
}

.City
{
    background-image: url("building-icon.png");
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 3%;
}

.Country
{
    background-image: url("globe-removebg-preview.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 7%;
}

.Code
{
    background-image: url("postal-code-removebg-preview.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 3%;
}

.submit
{
    font-size: 1.5vw;
    border-radius: 12px;
    height: 4vw;
    width: 12vw;
    position: absolute;
    padding: 5px;
    right: 7%;
}

input[type=checkbox] {
    zoom: 2;
}

.product
{
    width: 25vw;
    height: 35vw;
    margin-top: 70px;
    background: #F2F2F2;
    border-radius: 12px;
}

.product_one
{
    margin-top: 7%;
    height: 25%;
    width: 100%;
    display: flex;
}

.product_two
{
    margin-top: 7%;
    height: 25%;
    width: 100%;
    display: flex;
}

.bag
{
    height: 100%;
    width: 45%;
    margin-left: 7%;
    border-radius: 12px;
    background-image: url("backpack.jpg");
    background-size: cover;
    background-position: center;
}

.shoes
{
    height: 100%;
    width: 45%;
    margin-left: 7%;
    border-radius: 12px;
    background-image: url("shoes.jpg");
    background-size: cover;
    background-position: center;
}

.bag_text
{
    margin-top: 2px;
    text-align: center;
    width: 55%;
    font-size: 1vw;
    font-weight: bold;
}

.shoes_text
{
    margin-top: 2px;
    text-align: center;
    width: 55%;
    font-size: 1vw;
    font-weight: bold;
}

.Quantity
{
    position: relative;
    top: 20%;
}

.price
{
    margin-top: 10%;
    display: flex;
    position: relative;
}

.footer
{
    text-align: center;
    margin-top: 200px;
    color: #BDBDBD;
}

.input 
{
    height: 3vw;
}

button
{
    border-radius: 5px;
    border: none;
    background-color: #E0E0E0;
}

input
{
    background-color: transparent;
    border: none;
    width: auto;
}

.total
{
    width: 100%;
}

.quan
{
    width: 40px;
    text-align: center;
    padding: 0;
}

#shoess
{
    position: absolute;
    left: 60%;
    width: 10%;
    font-size: 0.9vw;
}

#bagg
{
    position: absolute;
    left: 60%;
    width: 10%;
    font-size: 0.9vw;
}

#bag, #shoes, #shoess , #bagg 
{
    color: #F2994A;
    width: 80%;
    padding: 0;
}
#bag, #shoes 
{
    font-size: 1.5vw;
}

.ship
{
    margin-top: 20%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-size: 1vw;
}

.Total
{
    margin-top: 15%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 90%;
    font-size: 1vw;
    justify-content: space-evenly;
    position: relative;
}

.up
{
    position: absolute;
    left: 0;
}

#TOTAL
{
    position: absolute;
    right: 0;
    width: 22%;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    font-size: 1vw;
}

@media (max-width: 850px)
{
    .Whole
    {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .container
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .product
    {
        margin-top: 0px;
        width: 80vw;
        height: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bag_text
    {
        font-size: 4vw;
    }

    .shoes_text
    {
        font-size: 4vw;
    }

    .ship
    {
        margin-top: 20%;
        font-size: 3.5vw;
    }

    .Total
    {
        margin-top: 7%;
        font-size: 3.5vw;
        background-color: #505050;
    }

    #TOTAL
    {
        font-size: 3.5vw;
    }

    #shoes, #bag
    {
        font-size: 3.5vw;
    }
    
    #shoess, #bagg
    {
        font-size: 2.5vw;
    }

    .input
    {
        height: 40px;
        font-size: smaller;
    }

    .submit
    {
        height: 40px;
        width: 100px;
        font-size: 20px; 
    }
}

@media (max-width: 500px)
{
    .container
    {
        width: 88vw;
        margin-left: 2%;
    }
}



